on: push
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - run: |
          mkdir dir
          ln -s dir link
      - uses: actions/checkout@v6.0.1
        with:
          path: link
      - run: |
          cd link
          git config --list --show-origin | grep extraheader
