on: push
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - run: |
          mkdir checkout-location
          ln -s checkout-location{,-link}
      - uses: actions/checkout@v6.0.1
        with:
          path: checkout-location-link
      - run: |
          cd checkout-location
          git config --list --show-origin
          cd ..

          cd checkout-location
          git config --list --show-origin | grep extraheader
          cd ..

          cd checkout-location-link
          git config --list --show-origin | grep extraheader
